
@{
    ViewData["Title"] = "Contacto";
}

<div class="animated fadeIn">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Desarrollado por</dt>
                        <dd class="col-sm-9">Alex Geovany Soler Chavarria</dd>
                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9"><a href="mailto:alexgeovanys@@gmail.com" class="text-white">alexgeovanys@@gmail.com</a></dd>
                        <dt class="col-sm-3">Codigo fuente</dt>
                        <dd class="col-sm-9"><a href="https://github.com/alexsoler/Queue-Manager" class="text-white">https://github.com/alexsoler/Queue-Manager</a></dd>
                        <dt class="col-sm-3">Licencia</dt>
                        <dd class="col-sm-9">MIT License</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
