@page
@using AplicationCore.Entities;
@model AccessDeniedModel
@{
    Layout = "_Pages";
 ViewData["Title"] = "Acceso Denegado";
}

@inject SignInManager<ApplicationUser> _signManager

@{ 
    await _signManager.SignOutAsync();
}
<header>
    <h1 class="display-1 text-danger">@ViewData["Title"]</h1>
    <p class="lead text-danger text-center" style="font-size: xx-large">Tú no tienes acceso a este recurso.</p>
</header>
