@page
@model RegisterModel
@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-lg-7">
            <div class="card">
                <div class="card-header">
                    <strong>Crear Usuario</strong>
                </div>
                <div class="card-body">
                    <form id="FormCreate" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" autocomplete="off" >
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="Input.Name" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Input.Name" class="form-control" placeholder="Ingrese un nombre completo..." />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.UserName" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Input.UserName" class="form-control" placeholder="Ingrese un nombre de usuario..." />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.Email" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Input.Email" class="form-control" placeholder="Ingrese un email..." />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.PhoneNumber" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Ingrese un numero de telefono..." />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.Password" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Input.Password" class="form-control" placeholder="Ingrese una contraseña..." autocomplete="new-password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.ConfirmPassword" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmar contraseña..." autocomplete="new-password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Input.Roles" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9 d-flex">
                                @for (int i = 0; i < Model.Input.Roles.Count; i++)
                                {
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox"
                                               asp-for="Input.Roles[i].Asignado"
                                               class="form-check-input" />
                                        <label asp-for="Input.Roles[i].Rol" class="form-check-label">@Model.Input.Roles[i].Rol</label>
                                        <input type="hidden" asp-for="Input.Roles[i].Rol" />
                                    </div>
                                }
                                <span asp-validation-for="Input.Roles" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" form="FormCreate" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Crear</button>
                    <button type="reset" form="FormCreate" class="btn btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
