<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        @if (User.IsInRole("Administrador"))
        {
            <li class="nav-title">App</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> Usuarios
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                            <i class="nav-icon icon-user-follow"></i> Crear
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Index">
                            <i class="nav-icon icon-list"></i> Ver
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/EditarUsuario">
                            <i class="nav-icon icon-pencil"></i> Editar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/EliminarUsuario">
                            <i class="nav-icon icon-trash"></i> Eliminar
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-grid"></i> Oficinas
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Offices" asp-action="Create">
                            <i class="nav-icon icon-plus"></i> Crear
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Offices" asp-action="Index">
                            <i class="nav-icon icon-list"></i> Ver
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Offices" asp-action="EditarOficina">
                            <i class="nav-icon icon-pencil"></i> Editar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Offices" asp-action="EliminarOficina">
                            <i class="nav-icon icon-trash"></i> Eliminar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Tasks" asp-action="Index">
                            <i class="nav-icon icon-cursor"></i> Tareas
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-folder"></i> Recursos
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Medias" asp-action="Index">
                            <i class="nav-icon icon-film"></i> Multimedia
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-settings"></i> Personalización
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CustomDisplay" asp-action="Index">
                            <i class="nav-icon icon-screen-desktop"></i> Display
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CustomTouch" asp-action="Index">
                            <i class="nav-icon icon-screen-tablet"></i> Pantalla táctil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CustomTicket" asp-action="Index">
                            <i class="nav-icon icon-note"></i> Tickets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CustomSystem" asp-action="Index">
                            <i class="nav-icon icon-wrench"></i> Sistema
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-docs"></i> Reportes
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Reports" asp-action="Operators">
                            <i class="nav-icon icon-people"></i> Por operador
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Reports" asp-action="Periods">
                            <i class="nav-icon icon-calendar"></i> Por periodo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Reports" asp-action="Office">
                            <i class="nav-icon icon-grid"></i> Por oficina
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Comments" asp-action="Index">
                    <i class="nav-icon icon-bubbles"></i> Comentarios
                </a>
            </li>
        }
        @if (User.IsInRole("Agente de Atención"))
        {
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-earphones-alt"></i> Atención al Cliente
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Attention" asp-action="Index">
                            <i class="nav-icon icon-control-play"></i> Iniciar
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</nav>