<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class="nav-title">App</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-user"></i> Usuarios
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                        <i class="nav-icon icon-user-follow"></i> Crear
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Index">
                        <i class="nav-icon icon-list"></i> Ver
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/EditarUsuario">
                        <i class="nav-icon icon-pencil"></i> Editar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/EliminarUsuario">
                        <i class="nav-icon icon-trash"></i> Eliminar
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Oficinas
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Offices" asp-action="Create">
                        <i class="nav-icon icon-cursor"></i> Crear
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Offices" asp-action="Index">
                        <i class="nav-icon icon-cursor"></i> Ver
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Offices" asp-action="EditarOficina">
                        <i class="nav-icon icon-cursor"></i> Editar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Offices" asp-action="EliminarOficina">
                        <i class="nav-icon icon-cursor"></i> Eliminar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tasks" asp-action="Index">
                        <i class="nav-icon icon-cursor"></i> Tareas
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="nav-icon icon-pie-chart"></i> Charts
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-star"></i> Icons
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="icons/coreui-icons.html">
                        <i class="nav-icon icon-star"></i> CoreUI Icons
                        <span class="badge badge-success">NEW</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="icons/flags.html">
                        <i class="nav-icon icon-star"></i> Flags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="icons/font-awesome.html">
                        <i class="nav-icon icon-star"></i> Font Awesome
                        <span class="badge badge-secondary">4.7</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="icons/simple-line-icons.html">
                        <i class="nav-icon icon-star"></i> Simple Line Icons
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-bell"></i> Notifications
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="notifications/alerts.html">
                        <i class="nav-icon icon-bell"></i> Alerts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="notifications/badge.html">
                        <i class="nav-icon icon-bell"></i> Badge
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="notifications/modals.html">
                        <i class="nav-icon icon-bell"></i> Modals
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="widgets.html">
                <i class="nav-icon icon-calculator"></i> Widgets
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">Extras</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-star"></i> Pages
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="login.html" target="_top">
                        <i class="nav-icon icon-star"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html" target="_top">
                        <i class="nav-icon icon-star"></i> Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="404.html" target="_top">
                        <i class="nav-icon icon-star"></i> Error 404
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="500.html" target="_top">
                        <i class="nav-icon icon-star"></i> Error 500
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item mt-auto">
            <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                <i class="nav-icon icon-cloud-download"></i> Download CoreUI
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                <i class="nav-icon icon-layers"></i> Try CoreUI
                <strong>PRO</strong>
            </a>
        </li>
    </ul>
</nav>