@model Web.Hubs.ParametersObject.TicketParameter
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>
    <style>
        body {
            text-align: center;
            font-family: Calibri;
        }

        #displayTicket {
            font-size: 300%;
            font-weight: bold;
            line-height: 90%;
        }

        #task,
        #Priority {
            font-size: 120%;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="displayTicket">@Model.DisplayTokenName</div>
    <div id="task">@Model.NameTask</div>
    <div id="Priority">@Model.NamePriority</div>
    <div id="Date">@DateTime.Now.ToString("d/M/yyyy hh:mm tt")</div>
</body>
</html>
